{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prototype</title>
    <link rel="stylesheet" type="text/css" href="{% static 'rune_web/style.css' %}">
</head>
<nav class="navigator">
    <div>
        <ul>
            <li><a href=""><img src="" alt=""></a></li>
            <li><a href="">덱 정보</a></li>
            <li><a href="">덱 빌더</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><a href="">회원 가입</a></li>
            <li><a href="">로그인</a></li>
        </ul>
    </div>
</nav>
<body>
<div class="jcontainer">
    <div>
        <div>

        </div>
    </div>
    <div>
        <div>

        </div>
        <div>
            <div></div>
            <div></div>
        </div>
        <div>

        </div>
    </div>
</div>
</body>
</html>